{{ define "content" }}

<div>
    <a href="/composer">back</a>
    <h1>{{ .PageTitle }}</h1>
</div>

<form method="get" action="/composer/addlocation">
    <label for="q">Search for a city, coutry</label>
    <input id="q" type="text" name="q" class='{{ template "input-text" }}' placeholder="City, Country" required autofocus />
</form>

<ul>
    {{ range .Locations }}
    <li>
        <img src="https://atlas.p3k.io/map/img?marker[]=lat:{{ .Lat }};lng:{{ .Lng }};icon:dot-small-blue&basemap=stamen-toner&width=800&height=440&zoom=14" />
        <form action="/composer/addlocation" method="post">
            <input type="hidden" name="locality" value="{{ .Locality }}" />
            <input type="hidden" name="region" value="{{ .Region }}" />
            <input type="hidden" name="country" value="{{ .Country }}" />
            <input type="hidden" name="lat" value="{{ .Lat }}" />
            <input type="hidden" name="lng" value="{{ .Lng }}" />
            <input class='{{ template "btn-cta" }}' type="submit" value="{{ .Locality }}, {{ .Region }}, {{ .Country }}">
        </form>
    </li>
    {{ end }}
</ul>

{{ end }}
