{{ define "content" }}

<div>
  <a href="/composer">back</a>
  <h1>{{ .PageTitle }}</h1>
</div>

<div>
  <img
    class="v-mid"
    src="https://imgproxy.funabashi.co.uk/insecure/fill/35/35/ce/0/plain/{{ .User.Photo }}"
  />
  <span class="v-mid">{{ .User.Name }}</span>
</div>

<form
  method="post"
  action="/submit"
  enctype="application/x-www-form-urlencoded"
>
  <textarea
    name="content"
    placeholder="Add a caption"
    class='{{ template "input-textarea" }}'
    autofocus
  ></textarea>
  <input type="hidden" name="h" value="entry" />

  {{ range .Photos }}
  <img
    src="https://imgproxy.funabashi.co.uk/insecure/fill/75/75/ce/0/plain/{{ .URL }}"
  />
  {{ end }}

  <ul>
    <li>
      <a href="/composer/addpublished">
        {{if .Published }} {{ .Published }} {{else}} Published {{end}}
      </a>
    </li>
    <li><a href="/composer/media/device">Photo</a></li>
    <li>
      <a href="/composer/addlocation">
        {{if .Location }} {{ .Location }} {{else}} Location {{end}}
      </a>
    </li>
  </ul>
  <button type="submit" class='{{ template "btn-cta" }}'>Post</button>
</form>

{{ end }}
