{{ define "content" }}

<section class="section">
  <h1 class="title">Login</h1>
  <form action="/login-init" method="post">
    <div class="field has-addons">
      <div class="control is-expanded">
        <input
          id="login"
          type="text"
          name="me"
          class="input is-large"
          placeholder="https://example.com"
          required
          autofocus
        />
      </div>
      <div class="control">
        <input
          class="button is-link is-large is-block"
          type="submit"
          value="Login"
        />
      </div>
    </div>
  </form>
</section>

{{ end }}
