{{ define "content" }}

<div>
  <a href="/composer">back</a>
  <a href="/composer/media/device">Device</a>
  <a href="/composer/media/gallery">Gallery</a>
  <h1>{{ .PageTitle }}</h1>
</div>

<div class="cf">
  {{ range .MediaList }} {{ if .IsPublished }}
  <div class="fl w-third ba bw2 b--red">
    {{ else }}
    <div class="fl w-third ba bw2 b--near-white">
      {{ end }}

      <a href="/composer/media/gallery?url={{ .URL }}">
        <img
          class="w-100"
          src="https://d22ubqq5wh0gzm.cloudfront.net/insecure/fill/150/150/ce/0/plain/{{ .URL }}"
        />
      </a>
    </div>

    {{ end }}
  </div>

  <div>
    {{ if .HasPaging }} <a href="?after={{ .AfterKey }}">Load More</a> {{ end }}
  </div>

  <div>
    <ul class="list center">
      {{ with .YearsList }} {{ range $Year := . }}
      <li>{{ $Year.Year }} ({{ $Year.Count }})</li>
      {{ end }} {{ end }}
    </ul>
  </div>

  {{ end }}
</div>
