{{ define "content" }}

<div>
  <a href="/composer">back</a>
  <a href="/composer/media/device">Device</a>
  <a href="/composer/media/gallery">Gallery</a>
  <h1>{{ .PageTitle }}</h1>
</div>

<h2>{{ .CurrentYear }} / {{ .CurrentMonth }}</h2>

{{ with .Media }}
<div class="cf">
  {{ range . }}
  <div class="fl w-third ba bw2 b--{{ .BorderColour }}">
    <a href="/composer/media/gallery?url={{ .URL }}">
      <img
        class="w-100"
        src="https://d22ubqq5wh0gzm.cloudfront.net/insecure/fill/150/150/ce/0/plain/{{ .URL }}"
      />
    </a>
  </div>
  {{ end }}
</div>
{{ end }}

<!-- ARCHIVE NAVIGATION -->
{{ if .HasPaging }}
<div>
  <a href="?after={{ .AfterKey }}">Load More</a>
</div>
{{ end }}

<div>
  <!-- months -->
  {{ with .Months }}
  <ul class="list center">
    {{ range . }}
    <li>
      <a href="{{ .Link }}">{{ .Month }}</a>
      ({{ .Count }})
    </li>
    {{ end }}
  </ul>
  {{ end }}

  <!-- years -->
  {{ with .Years }}
  <ul class="list center">
    {{ range . }}
    <li>
      <a href="{{ .Link }}">{{ .Year }}</a>
      ({{ .Count }})
    </li>
    {{ end }}
  </ul>
  {{ end }}
</div>

{{ end }}
