{{ define "content" }}

<div>
  <a href="/composer">back</a>
  <a href="/composer/media/device">Device</a>
  <a href="/composer/media/gallery">Gallery</a>
  <h1>{{ .PageTitle }}</h1>
</div>

<div class="card">
  <div class="card-header">
    <h1 class="card-header-title">{{ .Media.HumanDate }}</h1>
  </div>

  <div class="card-image">
    <figure class="image">
      <img src="https://images.weserv.nl/?w=500&t=fit&url={{ .Media.URL }}" />
    </figure>
  </div>

  <div class="card-content">
    <form method="post" action="/composer/media">
      <input type="hidden" name="url" value="{{ .Media.URL }}" />
      <input type="hidden" name="datetime" value="{{ .Media.MachineDate }}" />
      <button type="submit" class="button is-primary is-fullwidth">
        Add to post
      </button>
    </form>
  </div>
</div>

{{ end }}
