{{ define "content" }}

<nav class="navbar">
  <div class="navbar-start">
    <a class="navbar-item" href="/composer">back</a>
    <a class="navbar-item" href="/composer/media/device">Device</a>
    <a class="navbar-item" href="/composer/media/gallery">Gallery</a>
  </div>
</nav>

<h1>{{ .PageTitle }}</h1>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">{{ .CurrentYear }}</a></li>
    <li class="is-active">
      <a href="#" aria-current="page">{{ .CurrentMonth }}</a>
    </li>
  </ul>
</nav>

<!-- mediaGrid -->
{{ with .MediaGrid }}
  <div>
    {{ range . }}

      <div class="columns is-gapless is-multiline is-mobile">
        {{ range . }}
          <div class="column">
              {{ template "media-thumbnail" . }}

              {{ if .IsPublished }}
                <span class="icon has-text-success">
                  <i class="fas fa-check-square"></i>
                </span>
              {{ else }}
                <form method="post" action="/composer/media">
                  <input type="hidden" name="url" value="{{ .URL }}" />
                  <input type="hidden" name="datetime" value="{{ .MachineDate }}" />
                  <input type="hidden" name="lat" value="{{ .Lat }}" />
                  <input type="hidden" name="lng" value="{{ .Lng }}" />
                  <button type="submit" class="button is-success is-fullwidth">
                    <span class="icon is-small">
                      <i class="fas fa-plus-square"></i>
                    </span>
                  </button>
                </form>
              {{ end }}

          </div>
        {{ end }}
      </div>

    {{ end }}
  </div>
{{ end }}

<!-- time navigation -->
<div>
    <h3>{{ .CurrentYear }} / {{ .CurrentMonth }}</h3>
    <!-- months -->
    {{ with .Months }}
    <ul class="">
      {{ range . }}
      <li>
        <a href="{{ .Link }}">{{ .Month }}</a>
        ({{ .Count }})
      </li>
      {{ end }}
    </ul>
    {{ end }}
    <!-- years -->
    {{ with .Years }}
    <ul class="">
      {{ range . }}
      <li>
        <a href="{{ .Link }}">{{ .Year }}</a>
        ({{ .Count }})
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  {{ end }}
</div>
