{{ define "content" }}

<div>
  <a href="/composer">back</a>
  <a href="/composer/media/device">Device</a>
  <a href="/composer/media/gallery">Gallery</a>
  <h1>{{ .PageTitle }}</h1>
</div>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">{{ .CurrentYear }}</a></li>
    <li class="is-active">
      <a href="#" aria-current="page">{{ .CurrentMonth }}</a>
    </li>
  </ul>
</nav>

{{ with .MediaDays }} {{ range . }}
<div class="card">
  <div class="card-content">
    <h1 class="title is-4">{{ .Date }}</h1>
    <h2 class="subtitle">{{ .Count }} items</h2>

    {{ with .Media }}
    <div class="columns is-mobile is-gapless">
      {{ range index .}}
      <div class="column">
        {{ template "media-thumbnail" . }} {{ if .IsPublished }}
        <span class="tag is-info">x</span>
        {{ end }}
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>

  <footer class="card-footer">
    <a class="card-footer-item" href="{{ .Link }}">See More</a>
  </footer>
</div>
{{end}} {{ end }}

<!-- ARCHIVE NAVIGATION -->
{{ if .HasPaging }}
<div>
  <a href="?after={{ .AfterKey }}">Load More</a>
</div>
{{ end }}

<div>
  <h3>{{ .CurrentYear }} / {{ .CurrentMonth }}</h3>
  <!-- months -->
  {{ with .Months }}
  <ul class="">
    {{ range . }}
    <li>
      <a href="{{ .Link }}">{{ .Month }}</a>
      ({{ .Count }})
    </li>
    {{ end }}
  </ul>
  {{ end }}

  <!-- years -->
  {{ with .Years }}
  <ul class="">
    {{ range . }}
    <li>
      <a href="{{ .Link }}">{{ .Year }}</a>
      ({{ .Count }})
    </li>
    {{ end }}
  </ul>
  {{ end }}
</div>

{{ end }}
