{{ define "content" }}

<nav class="navbar">
  <div class="navbar-start">
    <a class="navbar-item" href="/composer">back</a>
    <a class="navbar-item" href="/composer/media/device">Device</a>
    <a class="navbar-item" href="/composer/media/gallery">Gallery</a>
  </div>
</nav>

<h1>{{ .PageTitle }}</h1>

<form method="post" action="/composer/addphoto" enctype="multipart/form-data">
  <input
    id="photo-upload"
    type="file"
    accept="image/*"
    name="photo"
    class="input-reset ma1"
    required
  />
  <input
    id="photo-upload"
    type="file"
    accept="image/*"
    name="photo"
    class="input-reset ma1"
  />
  <input
    id="photo-upload"
    type="file"
    accept="image/*"
    name="photo"
    class="input-reset ma1"
  />
  <button type="submit" class='{{ template "btn-cta" }}'>Preview</button>
  <input type="hidden" name="h" value="entry" />
</form>

{{ end }}
